<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container spacer">
  <div class="row">


<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        A propos</h3>
    </div>
    <ul class="list-group">
      <p class="List-group-item"> Name: {{infos.nom}}</p>
      <p class="List-group-item"> Email: {{infos.email}}</p>
    </ul>
  </div>
</div>
  </div>
</div>
