body
{
  padding-top: 20px;
  background-color: #F7F7F7;
}
.panel > .list-group
{
  margin-bottom: 20px;
}
.panel > .list-group .list-group-item
{
  border-width: 1px ;
}
.panel > .list-group .list-group-item:first-child
{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
  border-top-width: 20px;
}
.panel-default .list-group-item.active
{
  color: #000;
  background-color: #DDD;
  border-color: #DDD;
}
.panel-primary .list-group-item.active
{
  color: #FFF;
  background-color: #428BCA;
  border-color: #428BCA;
}
.panel-success .list-group-item.active
{
  color: #3C763D;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}
.panel-info .list-group-item.active
{
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}
.panel-warning .list-group-item.active
{
  color: #8A6D3B;
  background-color: #FCF8E3;
  border-color: #FAEBCC;
}
.panel-danger .list-group-item.active
{
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}
.panel a.list-group-item.active:hover, a.list-group-item.active:focus
{
  color: #000;
  background-color: #DDD;
  border-color: #DDD;
}
.spacer {
  margin-top: 30px;
}
.clickable{
  cursor: pointer;
}

.loader {
  font-size: 10px;
  margin: 0px 20px;
  text-indent: -9999em;
  width: 2.3em;
  height: 2.3em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #007bff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

