

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container spacer" >


  <div class="row" *ngIf="mode==1">
    <div class="col-md-12">


      <div class="panel panel-primary" >
        <div class="panel-heading">
          <h3 class="panel-title">
            Ajouter un client</h3>
        </div>

        <form [formGroup]="postForm" (ngSubmit)="saveClient()">
        <ul class="list-group">

         <div>
           <label class="control-label">Nom:</label>
           <input class="form-control" formControlName="nom" type="text" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
           <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
             <div *ngIf="f.nom.errors.required">First name is required</div>
           </div>
         </div>

          <div>
            <label class="control-label">Prénom:</label>
            <input class="form-control" formControlName="prenom" type="text" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }">
            <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
              <div *ngIf="f.prenom.errors.required">Last name is required</div>
            </div>
          </div>

          <div>
            <label class="control-label">Date de naissance:</label>
            <input class="form-control" formControlName="dateNaiss" type="date" [ngClass]="{ 'is-invalid': submitted && f.dateNaiss.errors }">
            <div *ngIf="submitted && f.dateNaiss.errors" class="invalid-feedback">
              <div *ngIf="f.dateNaiss.errors.required">Date is required</div>
            </div>
          </div>
          <div>
            <label class="control-label">Email:</label>
            <input class="form-control" formControlName="email" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <div>
            <label class="control-label">Adresse:</label>
            <input class="form-control" formControlName="adresse" type="text" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }">
            <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
              <div *ngIf="f.adresse.errors.required">Address is required</div>
            </div>
          </div>

        </ul>
        <button class="btn btn-primary" type="submit"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
        </form>
  </div>
</div>
</div>


  <div class="row" *ngIf="mode==2">
    <div class="col-md-12">

      <div class="panel panel-primary" >
        <div class="panel-heading">
          <h3 class="panel-title">
            Confirmation</h3>
        </div>

        <ul class="list-group">
          <table border="0">
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>ID : </th>
              <td>{{client.code}}</td>
            </tr>
            <tr>
              <th>Nom : </th>
              <td>{{client.nom}}</td>
            </tr>
            <tr>
              <th>Prenom</th>
              <td>{{client.prenom}}</td>
            </tr>
            <tr>
              <th>Date Naissance : </th>
              <td>{{client.dateNaiss | date: ('dd/mm/yyyy')}}</td>
            </tr>
            <tr>
              <th>Email : </th>
              <td>{{client.email}}</td>
            </tr>
            <tr>
              <th>Adresse : </th>
              <td>{{client.adresse}}</td>
            </tr>
          </table>

        </ul>
        <button class="btn btn-primary" (click)="mode=1">Nouveau client</button>
      </div>


      </div>
      </div>
  </div>


