<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container spacer">


  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Liste des opéerations</h3>
      </div>

      <ul class="list-group">

        <table class="table table-striped">
          <tr>
            <th>Type opération</th> <th>Numéro</th> <th>Date opération</th> <th>Montant</th> <th>Code Compte</th>
          </tr>
          <tr *ngFor='let o of pageOperation'>
            <td>{{o[0]}}</td>
            <td>{{o[1].numero}}</td>
            <td>{{o[1].dateOpertion}}</td>
            <td>{{o[1].montant}}</td>
            <td>{{o[1].compte.codeCompte}}</td>
          </tr>
        </table>


    </ul>
</div>
  </div>
</div>
